@use '@/shared/styles/mixins' as *;

.page {
  flex-direction: column;
  gap: calc(var(--spacing) * 6);
}


.roleInfo {
  color: var(--color-neutral-600);
}

.forms {
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 8);
}