@use 'variables';

@mixin text($size) {
  font-size: var(--font-size-#{$size});
  line-height: var(--line-height-#{$size});
}

@mixin status-color($name, $family, $text: var(--color-white)) {
  .status-#{$name} {
    --btn-bg: var(--color-#{$family}-700);
    --btn-bg-hover: var(--color-#{$family}-800);
    --btn-bg-active: var(--color-#{$family}-900);
    --btn-bg-loading: var(--color-#{$family}-900);
    --btn-text: #{$text};
  }
}

@mixin kind-variant($bg: false, $border: false, $text: false) {
  background-color: if($bg, var(--btn-bg), transparent);
  border-color: if($border, var(--btn-bg), transparent);
  color: if($text, var(--btn-text), var(--btn-bg));

  &:hover:not(:disabled):not(.loading) {
    @if $bg { background-color: var(--btn-bg-hover); }
    @if $border { border-color: var(--btn-bg-hover); }
    @if not $text { color: var(--btn-bg-hover); }
  }

  &:active:not(:disabled):not(.loading) {
    @if $bg { background-color: var(--btn-bg-active); }
    @if $border { border-color: var(--btn-bg-active); }
    @if not $text { color: var(--btn-bg-active); }
  }

  &.loading {
    cursor: wait;
    background-color: var(--btn-bg-loading);
    border-color: var(--btn-bg-loading);
  }

  &:disabled:not(.loading) {
    background-color: if($bg, var(--color-gray-200), transparent);
    border-color: if($border, var(--color-gray-200), transparent);
  }
}