@use 'sass:math';
@use 'sass:string';
@use 'sass:list';
@use 'sass:meta';
@use 'variables';

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}


.gap-2 {
  gap: calc(var(--spacing) * 2);
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.h-16 {
  height: calc(var(--spacing) * 16);
}


.grow-2 {
  flex-grow: 2;
}

@function escape-dot($value) {
  $string: #{$value};
  $result: '';
  $length: string.length($string);

  @for $i from 1 through $length {
    $char: string.slice($string, $i, $i);

    @if $char == '.' {
      $result: $result + '\\.';
    } @else {
      $result: $result + $char;
    }
  }

  @return $result;
}

$spacing: 0.25rem;

$sizes: ();
@for $i from 0 through 16 {
  $sizes: list.append($sizes, $i * 0.5);
}


$properties: (
        'm': margin,
        'mt': margin-top,
        'mb': margin-bottom,
        'ml': margin-left,
        'mr': margin-right,
        'mx': (margin-left, margin-right),
        'my': (margin-top, margin-bottom),
        'p': padding,
        'pt': padding-top,
        'pb': padding-bottom,
        'pl': padding-left,
        'pr': padding-right,
        'px': (padding-left, padding-right),
        'py': (padding-top, padding-bottom)
);

@each $prefix, $props in $properties {
  @each $size in $sizes {
    $escaped-size: escape-dot($size);

    .#{$prefix}-#{$escaped-size} {
      $props-list: ($props);
      @if meta.type-of($props) == 'list' {
        $props-list: $props;
      }

      @each $prop in $props-list {
        #{$prop}: calc(var(--spacing) * #{$size});
      }
    }
  }
}