.card {
  flex-direction: column;
  border-radius: var(--radius-xl);
  border: var(--border-width-base) solid var(--color-gray-200);
  background: var(--color-white) ;
}

.description {
  color: var(--color-gray-500);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  margin-top: auto;
}

.titleLink {
  text-decoration: none;
  color: inherit;
}