.details {
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.description {
  color: var(--color-gray-500);
  line-height: var(--line-height-lg);
}

.meta {
  color: var(--color-gray-400);
}

.footer {
  gap: calc(var(--spacing) * 4);
}